<h1>Payment</h1>
A <%= @years %> year loan of $<%= @principal %>, with an annual interest rate of <%= (@rate)/100 %>%, requires a monthly payment of $<%= @formatted_payment %>.
<p><a href="/">Go Back</a></p>
