<p><a href="/instructions">Instructions</a></p>
<tr>
<form action="/square/">
<td><label for="square">Square:  </label></td>
<td><input type="text" id="square" name="number" placeholder="Enter a Number to Square"></td>
<td><input type="submit" value="Submit"></td>
</form>
</tr>

<tr>
<form action="/square_root/">
<td><label for="square">Square Root:  </label></td>
<td><input type="text" id="square" name="number" placeholder="Enter a Number to Square"></td>
<td><input type="submit" value="Submit"></td>
</form>
</tr>
